@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: linear-gradient(to left,  hsl(41.78deg 86.43% 56.67%) 50%, hsl(9.25deg 81.38% 51.57%) 50%);
  font-family: Arial, Helvetica, sans-serif;
}

.hire-box{
  background: #f0eeec59;
  

  }
